/* In this tags you write CSS code 

Button is a CSS selector 
CSS property : CSS value

Background-color = color of the button
color = color of text
border = if there is a border on the button
height = how tall the button is, in pxs (NOT A GOOD IDEA (WANT TO BE ADAPTIVE use padding instead))
width = how long the button is, in pxs (NOT A GOOD IDEA (WANT IT TO BE ADAPTIVE use padding instead))
border-radius =  the edges of the button
cursor = how your mouse looks
margin = space
font-weight = bold
font-size = size 
padding = the pxls around the text so that when the text changes, the text is not spilling out
vertical-align = alligns things properly

.inset_classname to target a specific element

:hover is how the button will act when you hover over it 
opacity is how see through the eleemnt is (between 0 - 1)
:active is how the button will act when the button is activate
Transition - makes the opacity change smoothly (seprate it by coma for multiple things), 
the color thing under it is a the speed of the transition, allows for smoother transition
Box-shadow (horizontal (px), vertical (px), blurr(px), color(rgb or rgba(the opacity of the color)))*/

.sub-button{
background-color: rgb(200, 0, 0);
color: white;
border: none;
border-radius: 2px;
cursor: pointer;
margin-right: 8px;
margin-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 16px;
padding-right: 16px;
transition: opacity 0.15s;
vertical-align: top;
}

.sub-button:hover{
opacity: 0.8;
}

.sub-button:active{
opacity: 0.5;
}

.join-button{
background-color: white;
border-color: rgb(41, 118, 211);
border-style: solid;
border-width: 1px;
color: rgb(41, 118, 211);
height: 36px;
width: 62px;
border-radius: 2px;
cursor: pointer;
padding-top: 9px;
padding-bottom: 9px;
padding-left: 16px;
padding-right: 16px;
vertical-align: top;
transition: background-color .15s,
    color .15s;
}

.join-button:hover{
background-color: rgb(41, 118, 211);
color: white;
}

.join-button:active{
opacity: .7;
}

.tweet-button{
background-color: rgb(2, 137, 255);
color: white;
border: none;
height: 36px;
width: 74px;
border-radius: 18px;
font-weight: bold;
font-size: 15px;
cursor: pointer;
margin-left: 8px;
vertical-align: top;
}

.tweet-button:hover{
box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}